body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    margin-top: 50px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    color: #ff0000;
    font-size: 24px;
    margin-bottom: 15px;
}

.two-forms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .input-box {
    flex: 1;
    margin-right: 10px;
  }
  
  .input-box:last-child {
    margin-right: 0;
  }
  
  .input-box input,
  .input-box select,
  .input-box textarea {
    width: 100%;
    padding: 10px;
    font-weight: 300;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .input-box input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #000000;
}

.message {
    color: red;
    text-align: center;
    margin-top: 20px;
}