/* General Layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 10px;
}
.register-border {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  
}
.login-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 30px;
  text-align: center;
}


.login-header .login-icon {
  max-width: 300px;
  margin-top: -40px;
  margin-bottom: -40px;
}

.invalid-text {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  font-weight: 300;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.password-container {
  position: relative;
}

.password-wrapper i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 4px;
}

.forgot-password {
  margin: 15px 0;
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  
}

.forgot-password a {
  color: #ff0000;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.input-submit {
  margin-top: 20px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff0000;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #000000;
}

.sign-up-link {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
}

.sign-up-link a {
  color: #ff0000;
  text-decoration: none;
}

.sign-up-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-box {
    max-width: 90%; /* Reduce width for smaller screens */
    padding: 20px; /* Adjust padding for compact design */
  }

  .login-header .login-icon {
     /* Reduce margin for better fit */
  }

  .forgot-password {
    text-align: center; /* Center-align forgot password link */
    font-size: 13px; /* Slightly reduce font size */
  }

  .submit-btn {
    font-size: 14px; /* Adjust button font size for smaller screens */
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .login-box {
    padding: 15px; /* Further reduce padding for very small screens */
  }

  .submit-btn {
    font-size: 13px;
    padding: 8px;
  }

  .sign-up-link {
    font-size: 12px; /* Smaller text for mobile screens */
  }
}