*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#login{
  margin-top: 100px;
}

#navProfile {
   display: flexbox;
   margin-left: 6rem
}

:disabled {
  color: grey;
  background-color: #f0f0f0; /* Optional: Set a light grey background */
  cursor: not-allowed; /* Optional: Changes the cursor to indicate it's disabled */
  opacity: 0.6; /* Optional: Slightly lowers the opacity */
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 100%);
  --text-color: hsl(38, 8%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/


body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
  padding-top: 70px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

.member-img{
  border-radius: 20px;
  min-height: 90%;
}

.logo{
  width: 200px;
  margin-left: 100px;
  
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1500px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  
  
}

.nav__logo, 
.nav__toggle {
  color: var(--text-color);
  display: inline-flex;
}


.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.login-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
.login-submit{
  background: red; /* Background color for the login container */
  padding: 10px 20px;
  border-radius: 25px; /* Adds rounded corners */
  text-align: center;
  margin-top: -10px;
  margin-right: 120px;
  width: 100px;
  border: none;

}
.login-submit:hover{
  color: rgb(255, 255, 255);
  background-color: #000000;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--first-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
    
  }
  .logo{
    margin-top: 5px;
    margin-left: 5px;
  }
  .login-submit{
    margin-left: 120px;
  }

  .nav__toggle {
    margin-right: 20px;
  }
  .home{
    margin-bottom: -120px;
  }
}


.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: 200;
  gap: 5px;            
  cursor: pointer;
  display: flex;
  justify-content: center;
  
}
.nav__link i{
  margin-top: 0.5px;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}
.nav__link:hover, .nav__link.active{
  color: #ff0000;
}
.profile{
  height: 40px;
  width: 40px;
  margin-right: 100px;
  object-fit: cover;
  border-radius: 100%;
}
/* Show menu */
.show-menu {
  top: 0;
}

/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
  padding: 5rem 0 2rem;
  display: flex;
  margin-bottom: -45rem;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 5rem;
  padding-inline: 15px;
  
}
.home__description{
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: 1.5rem;
  margin: .75rem 0;
  color: #ff0a0a;
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
}
.home__button:hover {
  background-color: #ff0000; /* Adjust to your preferred hover color */
}

.home__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
    
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
    display: flex;
    align-items: center;
  }
  

}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
    
  }
  .home__data {
    text-align: initial;
   
  }

  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
    backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px);
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}

.services {
  background-color: var(--first-color);
  padding: 2rem 0;
  margin-top: 10rem;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  text-align: center;
}
.services__title {
  font-size: 1.8rem;
  color: #ff0a0a; /* Title color */
  margin-bottom: 2rem; /* Space below the title */
  text-align: center;
  margin-top: 3rem;
}
.service__box {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 33rem;
}

.service__img {
  width: 100%;
  height: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.service__title {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #ff0000;
  font-weight: 600;
}

.service__description {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  color: #000000;
  font-weight: 300;
}

.service__button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: #ff0a0a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.service__button a{
  text-decoration: none;
  color: #ffffff;
}
.service__button:hover {
  background-color: #dd5f5f;
}

/* Responsive layout for larger screens */
@media screen and (min-width: 768px) {
  .services__container {
      grid-template-columns: repeat(2, 1fr);
  }


}

@media screen and (min-width: 1024px) {
  .services__container {
      grid-template-columns: repeat(3, 1fr);
  }

  .home__container img {
    width: 45vw;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .services__container {
      grid-template-columns: 4fr; /* Single column layout on mobile screens */
      gap: 1.5rem; /* Adjust the gap between the boxes */

  }

  .service__box {
  
      border: none; /* Remove border to save space */
      border-radius: 10px;
      background-color: #fff; /* Keep a clean background on mobile */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
      height: 40rem;
  }
  .services__title{
 /* Space below the title */
    text-align: center;
  }
  .services {
    background-color: var(--first-color);
    padding: 2rem 0;
    margin-top: 38rem;
  }
  .service__img {
      width: 80%; /* Reduce image width */
      margin: 0 auto; /* Center the image */
      height: 65%;
      width: 100%;
  }

  .service__title {
      font-size: 1.25rem; /* Slightly smaller font size */
  }

  .service__description {
      font-size: 0.938rem; /* Slightly smaller font size */
  }

  .service__button {
      padding: 0.4rem 1rem;
      font-size: 0.875rem; /* Adjust button size */
  }
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 2rem 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: 15px;
}

.footer__content {
    margin-bottom: 2rem;
}

.footer__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ff0000;
}

.footer__description {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    
}

.footer__link {
    color: #ff0000;
    text-decoration: none;
    font-size: 0.8rem;
    transition: color 0.3s;
    font-weight: 300;
}

.footer__link:hover {
    color: #ff0a0a;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__social {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer__social:hover {
    color: #ff0a0a;
}

.footer__bottom {
    font-size: 0.875rem;
    border-top: 1px solid #444;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: #ff0000;
}

@media screen and (min-width: 768px) {
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
    .footer__socials {
        margin-bottom: 0;
    }

    
    .footer__bottom {
        margin-top: 1rem;
    }
}



/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu items */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin-left: -30px;
}

/* Style for each dropdown link */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 300;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown__icon {
  font-size: 0.5rem;
  margin-left: 5px;
  color: red;
}
@media (max-width: 768px) {
  .dropdown-content a {
    padding: 10px 12px;
    font-size: 14px;
    text-align: center;
  }

  .dropdown__icon {
    font-size: 1rem;
  }
  .dropdown-content{
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
}

.offers {
  background-color: var(--first-color);
  padding: 2rem 0;
  margin-top: 1rem;
  
}

.offers__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  text-align: center;
  
}
.offers__title {
  font-size: 1.8rem;
  color: #ff0a0a; /* Title color */
  margin-bottom: 2rem; /* Space below the title */
  text-align: center;
  margin-top: 3rem;
  font-weight: 400;
}
.offers__box {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #000000;
  height: 15rem;
  transition: transform 0.3s ease;
}

.offers__img {
  width: 100%;
  height: 80%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.7;
}

.offer__title {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 300;
  margin-top: 2px;
}
.offers__box:hover {
  transform: translateY(-5px);
}

/* Responsive layout for larger screens */
@media screen and (min-width: 768px) {
  .offers__container {
      grid-template-columns: repeat(2, 1fr);
  }


}

@media screen and (min-width: 1024px) {
  .offers__container {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .offers__container {
      grid-template-columns: 2fr; /* Single column layout on mobile screens */
      gap: 1rem; /* Adjust the gap between the boxes */

  }

  .offers__box {
      border: none; /* Remove border to save space */
      border-radius: 10px;
      background-color: #000000; /* Keep a clean background on mobile */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
      height: 16rem;
      width: 70%;
      margin-left: 60px;
  }
  .offers__title{
 /* Space below the title */
    text-align: center;
  }
  .offers {
    background-color: var(--first-color);
    padding: 2rem 0;
  }
  .offers__img {
      width: 80%; /* Reduce image width */
      margin: 0 auto; /* Center the image */
      height: 80%;
      width: 100%;
  }

  .offer__title {
      font-size: 1.25rem; /* Slightly smaller font size */
  }

}
.video-papsas{
  margin-top: 50rem;
}

.video_title{
  text-align: center;
  padding: 20px;
  
}
.video-feed-container {
  display: flex;
  flex-direction: column; /* Set to row to align videos horizontally */
  gap: 20px;
  align-items: center;
  background-color: #f3f1f1;
  width: 100%;
}



/* Video post structure */
.video-post {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-bottom: 20px;
}

/* Video wrapper */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: #000;
}
.video-title-container{
  font-size: 30px;
  color: red;
  margin-top: 30px;
  text-transform: uppercase;
}
.video-wrapper video {
  width: 100%; /* Ensure video takes full width of the container */
  height: auto;
  border-radius: 8px;
}

/* Video content (title and caption) */
.video-content {
  margin-top: 10px;
}

.video-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: red;
}

.video-caption {
  font-size: 16px;
  color: #000000;
  text-align: justify;
  font-weight: 300;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}
#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

#scrollUpButton:hover {
  background-color: #000000;
}

/* Responsive design */
@media (max-width: 768px) {
  .video-feed-container {
    flex-direction: column; /* Stack videos in a column layout */
    padding: 0 10px;
    margin-top: 50rem;
    margin-bottom: 20px;
  }

  .video-post {
    width: 100%; /* Full width for each video in column layout */
    margin-bottom: 20px; /* Space between video posts */
  }
  .video-title-container{
    margin-top: 50px;
  }
}

/* Further adjustments for very small screens (mobile devices) */
@media (max-width: 480px) {
  .video-title {
    font-size: 16px;
  }
  
  .video-caption {
    font-size: 12px;
  }

  .video-feed-container {
    
    margin-bottom: 20px;
  }
  .login-submit{
    margin-left: 120px;
    
  }
}

@media only screen and (max-width: 828px) {

}

/* iPad Air portrait (width: 768px - 820px) */
@media (min-width: 768px) and (max-width: 820px) {
  .nav__menu {
    position: fixed;
    background-color: var(--first-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
  }

  .logo {
    margin-top: 5px;
    margin-left: 5px;
  }

  .login-submit {
    margin-left: 120px;
  }

  .nav__toggle {
    margin-right: 20px;
    display: block !important; /* Ensure toggle button is visible */
    cursor: pointer;
  }



  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  /* Hide close icon and toggle icon initially */
  .nav__toggle, .nav__close {
    display: block;
  }

  .nav__list {
    flex-direction: column;
    column-gap: 1rem;
    display: flex;
    align-items: center;
  }

  /* When the nav menu is visible, change the position to top 0 */
  .nav__menu.show-menu {
    top: 0;
  }

  /* Adjust close button visibility when the menu is open */
  .nav__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .nav__menu {
    position: fixed;
    background-color: var(--first-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
  }

  .logo {
    margin-top: 5px;
    margin-left: 5px;
  }

  .login-submit {
    margin-left: 120px;
  }

  .nav__toggle {
    margin-right: 20px;
    display: block; /* Ensure toggle button is visible */
    cursor: pointer;
  }



  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  /* Hide close icon and toggle icon initially */
  .nav__toggle, .nav__close {
    display: block;
  }

  .nav__list {
    flex-direction: column;
    column-gap: 1rem;
    display: flex;
    align-items: center;
  }

  /* When the nav menu is visible, change the position to top 0 */
  .nav__menu.show-menu {
    top: 0;
  }

  /* Adjust close button visibility when the menu is open */
  .nav__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    background-color: var(--first-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
  }

  .logo {
    margin-top: 5px;
    margin-left: 5px;
  }

  .login-submit {
    margin-left: 120px;
  }

  .nav__toggle {
    margin-right: 20px;
    display: block; /* Ensure toggle button is visible */
    cursor: pointer;
  }


  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  /* Hide close icon and toggle icon initially */
  .nav__toggle, .nav__close {
    display: block !important;
  }

  .nav__list {
    flex-direction: column;
    column-gap: 1rem;
    display: flex;
    align-items: center;
  }

  /* When the nav menu is visible, change the position to top 0 */
  .nav__menu.show-menu {
    top: 0;
  }

  /* Adjust close button visibility when the menu is open */
  .nav__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

}

@media (min-width: 820px) and (max-width: 1180px) {

}