{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/css/attendance_form.css' %}">
{% endblock %}


{% block body %}

<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-container">
        {% if today < event.startDate or today > event.endDate %}
                <h3>
                    {{ event.eventName }} has
                    {% if today < event.startDate %}
                        not yet started
                    {% elif today > event.endDate %}
                        ended.
                    {% endif %}
                </h3>
                <p>
                    Date of Start : 
                    <strong>
                        {{ event.startDate }}
                    </strong>
                </p>
                <p>
                    Date of End : 
                    <strong>
                        {{ event.endDate }}
                    </strong>
                </p>
        {% else %}
        <h3>Attendance Form</h3>
        <div class="two-forms">
            <div class="input-box">
                Event: <p>{{ event.eventName }}</p>
            </div>
            <div class="input-box">
                <label for="user_first_name">Name: <p>{{ request.user.first_name }}</p></label>
            </div>
        </div>

            <form method="post" action="{% url 'attendance_form' event_id %}">
                {% csrf_token %}
                
                    <div class="input-box">
                     Attended: <p>{{ form.attended }}</p>
                    </div>
                
                {% if today == event.endDate %}
                <!-- Poll in the last attendance -->
                    <div>
                        <label for="next_location"> Suggest next location: </label>
                        {{ form.next_location }}
                    </div>
                {% endif %}
                <button type="submit" class="btn">Submit</button>

                {% if error_message %}
                <div class="message">{{ error_message }}</div>
                {% endif %}
            </form>
        </div>
        {% endif %}
</div>
{% endblock %}