{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/css/compose_achievement.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-container">
        <h3>SAS Research Form</h3>
        <form method="post" enctype="multipart/form-data"
            hx-post="{% url 'compose_achievement' %}" 
            hx-confirm="Are you sure you want to post this research?"
        >
            {% csrf_token %}
            <div class="login_box">
                <div class="two-forms">
                    <div class="input-box">
                        <p>Title: </p> 
                        {{ form.name }}
                    </div>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <p>Description: </p> 
                        {{ form.description }}
                    </div>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <p>Public Material: </p> 
                        {{ form.pubmat }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}
