{% extends 'papsas_app/layout.html' %}

{% block body %}
    {% if is_member %}
        {% if is_member.membershipVerification == False %}
            <h1> Your membership registration is on process.</h1>
            <p> Please wait for an email of the approval of your registration. Thank you!</p>
        {% else %}
        <h1> You are already registered as {{ is_member.membership }} member.</h1>
        {% endif %}
    {% else %}
        <form action="{% url 'membership_registration' membership %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}