{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/news_offers_record.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
    <button class="action-icon update-button" data-event-id="{{record.id}}" title="Update">
        <i class="fas fa-edit"></i>
    </button> 

    <form action="{% url 'delete_event' record.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button title="Delete" class="action-icon">
            <i class="fas fa-trash-alt"></i>
        </button>
    </form>

    <button class="action-icon view-button" data-event-id="{{record.id}}" title="View" >
        <i class="fas fa-eye"></i>
    </button>

    <a href="{% url 'generate_qr' record.id %}" title="Generate QR Code" class="action-icon">
        <i class="fas fa-qrcode"></i>
    </a>
{% endblock %}