{% if view == "list" %}
    {% for event in events %}
    <div class="event-card" id="event-{{event.id}}">
        <div class="event-header">
            <img src="{{ event.pubmat.url }}" alt="" class="event-image">
        </div>
        <div class="event-content">
            <h3>{{ event.eventName }}</h3>
            <p class="event-description">{{ event.eventDescription }}</p>
            <p class="event-date">{{ event.startDate }} - {{ event.endDate }}</p>
        </div>
        <div class="input-submit"> 
            <button class="submit-btn">Apply Now!</button>
        </div>
    </div>
    <hr>
    {% endfor %}
{% else %}
    {% for event in events %}
    <tr>
        <td>
            {{ event.id }}
        </td>
        <td>
            {{ event.eventName }}
        </td>
        <td>
            <button class="action-icon reg-button" data-event-id="{{ event.id }}">
                <i class="fas fa-eye"></i> View Registration
            </button>
            <button class="action-icon attendance-button"
                    data-url="{% url 'get_attendance' event.id %}">
                <i class="fas fa-eye"></i> View Attendance
            </button>
            <button class="update-button"
            data-event-id="{{event.id}}">Update</button> 
            <form action="{% url 'delete_event' event.id %}" method="post">
                {% csrf_token %}
                <button>Delete</button>
            </form>
            <button class="view-button"
            data-event-id="{{event.id}}">View</button>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No events found matching your search.</td>
    </tr>
    {% endfor %}
{% endif %}