{% if view == "list" %}
    {% for event in events %}
    <div class="event-card">
        <div class="event-header">
            <img src="{{ event.pubmat.url }}" alt="" class="event-image">
        </div>
        <div class="event-content">
            <h3>{{ event.eventName }}</h3>
            <p class="event-description">{{ event.eventDescription }}</p>
            <p class="event-date">{{ event.startDate }} - {{ event.endDate }}</p>
        </div>
        <div class="input-submit"> 
            <button class="submit-btn">Apply Now!</button>
        </div>
    </div>
    <hr>
    {% endfor %}
{% else %}
    {% for event in events %}
    <tr>
        <td>
            {{ event.eventName }}
        </td>
        <td>
            <button class="action-icon reg-button" data-event-id="{{ event.id }}"
            onclick="showRegistrationRecord({{event.id}})">
                <i class="fas fa-eye"></i> View Registration
            </button>
            
            <button class="action-icon"
                    data-url="{% url 'get_attendance' event.id %}"
                    onclick="showAttendanceModal(this.getAttribute('data-url'))"
                    >
                <i class="fas fa-eye"></i> View Attendance
            </button>

            <button>Update</button> <button>Delete</button>
        </td>
    </tr>
    {% endfor %}
{% endif %}