{% for news_offer in news_offers %}
<tr>
    <td>{{ news_offer.name }}</td>
    <td>{{ news_offer.description }}</td>
    <td>{{ news_offer.postStamp }}</td>
    <td> <img src="{{ news_offer.pubmat.url }}" alt="{{news_offer.name}} image" class="n-o_img"> </td>
    <td> <button class="action-icon" title="Update" type="submit"><i class="fas fa-edit"></i></button> 
        <form action="{% url 'delete_news_offer' news_offer.id %}" method="post">
            {% csrf_token %}
            <button class="action-icon" title="Delete" type="submit"><i class="fas fa-trash-alt"></i></button>
        </form>
    </td>
</tr>
{% endfor %}