DJANGO_ENV=prod
DJANGO_SECRET_KEY=***set-in-real-env***
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=api.papsasinc.com,papsasinc.com,www.papsasinc.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://api.papsasinc.com,https://papsasinc.com,https://www.papsasinc.com
TIME_ZONE=Asia/Manila
USE_TZ=True
POSTGRES_DB=papsas_db
POSTGRES_USER=papsas_user
POSTGRES_PASSWORD=***set-in-real-env***
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
EMAIL_HOST_USER=noreply.papsasinc@gmail.com
EMAIL_HOST_PASSWORD=***gmail-app-password***
SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_SSL_REDIRECT=True
