{% extends 'papsas_app/layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/css/about_us.css' %}">
{% endblock %}
{% block body %}
    <div class="officer">
        <h1>NATIONAL BOARD OF TRUSTEES</h1>
        <p>Philippines Association of Practitioners of Student Affairs and Services, Inc.</p>
    </div>
    <section class="officer_img" id="section-1">
        <div class="officer_title">
            <h1>EXECUTIVE OFFICERS</h1>
        </div>
        <div class="officer__container container">
            <div class="officer__box">
                <img src="media/papsas_app/images/president.jpg" alt="Service 1" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/vicepresident.jpg" alt="Service 2" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/vicepresident2.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/secretary.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/treasurer.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/auditor.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/businessmanager.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/pro.jpg" alt="Service 3" class="officer__img">
            </div>
        </div>
        <div class="officer_title">
            <h1>DIRECTOR</h1>
        </div>
        <div class="officer__container container">
            <div class="officer__box">
                <img src="media/papsas_app/images/director1.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/director2.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/director3.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/director4.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/director5.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/director6.jpg" alt="Service 3" class="officer__img">
            </div>
        </div>
        <div class="officer_title">
            <h1>ADVISER</h1>
        </div>
        <div class="officer__container container">
            <div class="officer__box">
                <img src="media/papsas_app/images/adviser.jpg" alt="Service 3" class="officer__img">
            </div>
            <div class="officer__box">
                <img src="media/papsas_app/images/adviser2.jpg" alt="Service 3" class="officer__img">
            </div>
        </div>
    </section >

<section class="resources" id="section-2">
        <div class="resources_title">
            <h1>RESOURCES</h1>
            <p>Research & Student Affairs and Services (SAS) Tools</p>
        </div>
        <div class="resources__container container">
            <div class="resources__box">
                <img src="media/papsas_app/images/resources.png" alt="Service 1" class="resources__img">
                <a href="https://drive.google.com/file/d/1hf6kK1WuYBOW1BdKNZSjUH6YTm9HKGRg/view?usp=sharing" target="_blank"><button class="resources__button">Learn More</button></a>
            </div>
            <div class="resources__box">
                <img src="media/papsas_app/images/resources2.png" alt="Service 2" class="resources__img">
                <a href="https://drive.google.com/file/d/1cOzwRzqLv7R7APhLEVLfARFdB3Rh4O0U/view?usp=sharing" target="_blank"><button class="resources__button">Learn More</button></a>
            </div>
        </div>
</section>


<section class="memo">
    <div class="memo_title">
        <h1>CHED Memorandum Orders (CMOs)</h1>
    </div>
    <div class="container">
    <div class="memo_grid">
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1MGBUTFm_ORhLppkBMoTQmXXyrETZxf1Y/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/1.png" alt="Signed IRR RA 11053 Anti Hazing Act of 2018">
            </a>
            <p>Signed IRR RA 11053 Anti Hazing Act of 2018</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1l-pFjAEmRjgn8nlHAnIrpZa0ETa8WDt2/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/2.png" alt="CMO No. 11 s. 2021 Amendments to Section 6 and 12 of CMO No. 8 series of 2019">
            </a>
            <p>CMO No. 11 s. 2021 Amendments to Section 6 and 12 of CMO No. 8 series of 2019</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1VtMpmyuHrEOCS8KGB6s8ykFhwmfs0Z86/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/3.png" alt="CMO No. 9 s. 2021 Revised Policies and Guidelines Higher Education Institutions in the Philippines">
            </a>
            <p>CMO No. 9 s. 2021 Revised Policies and Guidelines Higher Education Institutions in the Philippines</p>
        </div>
        <div class="memo_item">
            <a href="https://docs.google.com/document/d/1qm9htv_MG8KRxHMfuYyV6AskhCYgajFM/edit?usp=sharing&ouid=114083766262239436047&rtpof=true&sd=true" target="_blank">
                <img src="media/papsas_app/resources/4.png" alt="CMO No. 9 s. 2021 Annex A CHEDRO Eval. Annex A">
            </a>
            <p>CMO No. 9 s. 2021 Annex A CHEDRO Eval. Annex A</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1cdFKIggbS6c_gmxO6u-koTGTPtPZND7J/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/5.png" alt="CMO No. 8 s. 2021">
            </a>
            <p>CMO No. 8 s. 2021</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1b224meMMBbR5RgadlhfstRbRybOv6b8T/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/6.png" alt="CMO No. 7 series of 2021 Extension of the Validity Institutions from June 1 2021 to May 31 2023">
            </a>
            <p>CMO No. 7 series of 2021 Extension of the Validity Institutions from June 1 2021 to May 31 2023</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1ed3pWO4D9ly3e2HrQLVZSDwIu2GAgtKa/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/7.png" alt="CMO No. 6 Series of 2021 Policy and Guidelines on Anti Smoking and Tobacco Control">
            </a>
            <p>CMO No. 6 Series of 2021 Policy and Guidelines on Anti Smoking and Tobacco Control</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1HWwmxpKVAVNYQH0aJijnXKhZimYvletY/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/8.png" alt="CMO No. 3 S. 2021 Guidelines on the Conduct of Pre I-Dentistry Courses during the Pandemic Period">
            </a>
            <p>CMO No. 3 S. 2021 Guidelines on the Conduct of Pre I-Dentistry Courses during the Pandemic Period</p>
        </div>
        <div class="memo_item">
            <a href="https://drive.google.com/file/d/1aiB5m4Ywx2HIMubzGafEj0LEHZLR210D/view?usp=sharing" target="_blank">
                <img src="media/papsas_app/resources/9.png" alt="CMO No. 1s. 2021 on the Amendment to Section V D n 2 for Higher Education Tulong Program B2HELP">
            </a>
            <p>CMO No. 1s. 2021 on the Amendment to Section V D n 2 for Higher Education Tulong Program B2HELP</p>
        </div>
    </div>
    </div>
</section>

<section class="partners" id="section-3">
    <div class="memo_title">
        <h1>PARTNERS & REGIONAL CHAPTERS</h1>
    </div>
    <div class="partners__container container">
        <div class="partner__box">
            <img src="media/papsas_app/fbpage/calabarzon.png" alt="Service 1" class="partner__img">
            <h3 class="partner__title">PAPSAS MAIN</h3>
            <a href="https://www.facebook.com/papsasinc" target="_blank">
                <button class="partner__button">Visit Page</button>
            </a>
        </div>
        <div class="partner__box">
            <img src="media/papsas_app/fbpage/calabarzon.png" alt="Service 2" class="partner__img">
            <h3 class="partner__title">PAPSAS CALABARZON</h3>
            <a href="https://www.facebook.com/papsasregion4" target="_blank">
                <button class="partner__button">Visit Page</button>
            </a>
        </div>
        <div class="partner__box">
            <img src="media/papsas_app/fbpage/central_luzon.png" alt="Service 2" class="partner__img">
            <h3 class="partner__title">PAPSAS CENTRAL LUZON</h3>
            <a href="https://www.facebook.com/PAPSAS.R3/" target="_blank">
                <button class="partner__button">Visit Page</button>
            </a>
        </div>
        <div class="partner__box">
            <img src="media/papsas_app/fbpage/calabarzon.png" alt="Service 2" class="partner__img">
            <h3 class="partner__title">PAPSAS BICOL REGION</h3>
            <a href="https://www.facebook.com/profile.php?id=100077293021990" target="_blank">
                <button class="partner__button">Visit Page</button>
            </a>
        </div>
        <div class="partner__box">
            <img src="media/papsas_app/fbpage/NCR.png" alt="Service 2" class="partner__img">
            <h3 class="partner__title">PAPSAS NCR</h3>
            <a href="https://www.facebook.com/profile.php?id=100063764031681" target="_blank">
                <button class="partner__button">Visit Page</button>
            </a>
        </div>
    </div>
</section>
<button onclick="scrollToTop()" id="scrollUpButton" title="Go to top">↑</button>

<footer class="footer">
    <div class="footer__container container">
        <div class="footer__content">
            <h3 class="footer__title">Philippine Association of Practitioners of Student Affairs and Services, Inc.</h3>
            <p class="footer__description">
                Dedicated to the pursuit of excellence in student affairs and services work.
            </p>
            <ul class="footer__links">
                <li><a href="#" class="footer__link">(043) 778 0656</a></li>
                <li><a href="#" class="footer__link">/papsasinc</a></li>
                <li><a href="#" class="footer__link">papsasinc.national@gmail.com</a></li>
                <li><a href="bit.ly/papsasinc" class="footer__link">bit.ly/papsasinc</a></li>
            </ul>
        </div>
        <div class="footer__socials">
            <a href="#" class="footer__social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer__social"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer__social"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 PAPSAS, Inc. All Rights Reserved.</p>
    </div>
</footer>

<script>
    // Show the button when the user scrolls down 20px from the top
    window.onscroll = function() {
        let button = document.getElementById("scrollUpButton");
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            button.style.display = "block";
        } else {
            button.style.display = "none";
        }
    };

    // Function to scroll to the top with smooth behavior
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth' // Smooth scroll effect
        });
    }
</script>









{% endblock %}