{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/css/contact.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Let's get in touch</h3>
                <p class="text">
                    We'd love to hear from you! Whether you have questions, feedback, or need support, feel free to reach out.
                </p>

                <div class="info">
                    <div class="information">
                        <img src="img/location.png" class="icon" alt="" />
                        <p>FAITH Colleges, Tanauan City, Batangas, Philippines</p>
                    </div>
                    <div class="information">
                        <img src="img/email.png" class="icon" alt="" />
                        <p>papsasinc.national@gmail.com</p>
                    </div>
                    <div class="information">
                        <img src="img/phone.png" class="icon" alt="" />
                        <p>(043) 778 0656</p>
                    </div>
                </div>

                <div class="social-media">
                    <p>Connect with us:</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/papsasinc">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form action="index.html" autocomplete="off">
                    <h3 class="title">Contact us</h3>
                    <div class="input-container">
                        <div class="input-title">Email:</div>
                        <input type="email" name="email" id="email" class="input" required />
                    </div>
                    <div class="input-container">
                        <div class="input-title">Subject</div>
                        <input type="tel" name="suject" id="suject" class="input" required />
                    </div>
                    <div class="input-container textarea">
                        <div class="input-title">Message:</div>
                        <textarea name="message" id="message" class="input" required></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
