{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/css/credential.css' %}">
{% endblock %}

{% block body %}
<body>
    <div class="container">
    <div class="credential-container">
        <header>
            <div class="header-content">
                
                <h1>Philippine Association of Practitioners<br>of Student Affairs and Services, Inc.</h1>
                <img src="/media/papsas_app/images/papsas_logo.png" alt="PAPSAS Logo" class="logo-papsas">
            </div>
            <h2>PAPSAS, INC. {{ candidate.election.title }} Election {{ candidate.election.startDate.year }}</h2>
        </header>
        <div class="profile-section">
            <img src="{{ candidate.candidate.profilePic.url }}" alt="Service 1" class="profile-pic">
            <h3>{{ candidate.candidate.first_name }} {{ candidate.candidate.last_name }}</h3>
            <p class="designation">{{ candidate.candidate.institution }}</p>
        </div>
        <hr>
        <div class="bio">
            {{ candidate.credentials|linebreaks  }}
        </div>
        <div class="back-button">
            <a href="{% url 'vote' %}" class="btn btn-back">Back</a>
        </div>
    </div>
</div>
</body>
{% endblock %}