{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/css/credential.css' %}">
{% endblock %}

{% block body %}
<body>
    <div class="container">
    <div class="credential-container">
        <header>
            <div class="header-content">
                
                <h1>Philippine Association of Practitioners<br>of Student Affairs and Services, Inc.</h1>
                <img src="media/papsas_app/images/papsas_logo.png" alt="PAPSAS Logo" class="logo-papsas">
            </div>
            <h2>PAPSAS, INC. BOARD ELECTION 2021</h2>
        </header>
        <div class="profile-section">
            <img src="media/papsas_app/images/president.jpg" alt="Service 1" class="profile-pic">
            <h3>MS. ANNA LOUISA CAUNTAY</h3>
            <p class="designation">Director, Student Affairs and External Programs<br>University of Batangas</p>
        </div>
        <hr>
        <div class="bio">
            <p>I graduated college in 1998 from the University of St. La Salle. I was an active member of the Campus Ministry during my entire college years. After graduation, I migrated to California and worked in various companies such as The Beverly Hills Hotel, Washington Mutual, Pentacor Aerospace, Child Care Resource Center & California State University, Northridge. My family moved back to the Philippines in 2006 and I returned to work in 2009.</p>
            <p>I began as Placement Coordinator in UB. I also completed my Master’s degree in the same institution. In the course of 12 years, I have been promoted to Alumni & Placement Officer for both campuses and have been given an additional post as Director of Student Affairs & External Programs. Having worked for different industries, I must say that working in Academe is the one I find most fulfilling. To see former students succeed in their respective careers is truly the most rewarding.</p>
        </div>
    </div>
</div>
</body>
{% endblock %}