{% extends 'papsas_app/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/event_list.css' %}">
{% endblock %}

{% block body %}
<div id="event_container">
    {% for event in events %}
    <div class="event-card">
        <div class="event-header">
            <img src="{{ event.pubmat.url }}" alt="" class="event-image">
        </div>
        <div class="event-content">
            <h3>{{ event.eventName }}</h3>
            <p class="event-description">{{ event.eventDescription }}</p>
            <p class="event-date">{{ event.startDate }} - {{ event.endDate }}</p>
        </div>
        <div class="input-submit"> 
            <a href="{% url 'event_registration_view' event.id %}"><button class="submit-btn">Apply Now!</button></a>
        
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if events.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ events.previous_page_number }}"></a>
            {% endif %}
    
            <span class="current">
                Page {{ events.number }} of {{ events.paginator.num_pages }}.
            </span>
    
            {% if achievements.has_next %}
                <a href="?page={{ events.next_page_number }}">next</a>
                <a href="?page={{ events.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <!-- hx-get="{% url 'get_event' 'list'%}"
    hx-trigger="every 5s"
    hx-swap="innerHTML" -->
</div>
{% endblock %}