{% extends 'papsas_app/layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/election.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/login.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/datatable.css' %}">
{% endblock %}
{% block title %}
    Election
{% endblock %}

{% block body %}
<div class="container">
    <div class="election-dashboard">
        <div class="past-elections">
            <h3>Election List</h3>
            <div class="election-list">
                {% for election in electionList %}
                    <div class="election-item">
                        <p><button class="action-icon" onclick="openForm('{{ election.id }}')">{{ election }} - {{ election.title }}</button></p>
                    </div>
                {% endfor %}
            </div>
        </div>

            <div class="new-election">
                    {% if not ongoingElection %}
                    <h3>Start New Election</h3>
                    <form action="{% url 'election' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="title" placeholder="Election Name" required>
                        <input type="number" name="num_candidates" required placeholder="Number of Candidates">
                        <button type="submit" class="submit-btn">Start Election</button>
                    </form>
                {% else %}
                    <h3>Ongoing Election</h3>
                    <div>
                        {% for election in electionList %}
                            {% if election.electionStatus == True %}
                                <form action="{% url 'manage_election' election.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="submit-btn">Stop Election</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
</div>

<!-- Popup for Election Details -->
<div class="overlay" id="overlay" onclick="closeForm()"></div>
<div id="popup_container" class="popup">
    <div class="popup-content">
        <h2>Election Record <button class="close-btn" onclick="closeForm()">&#x2715;</button></h2>

        <!-- Filter Section -->
        <div class="filter-container">
            <input type="text" id="filter" placeholder="Filter elections...">
        </div>

        <div id="data-container">
        </div>

        <!-- Table for Display -->
        <table class="data-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Total Votes</th>
                </tr>
            </thead>
            <tbody id="electionData">
                <!-- Data will be populated dynamically -->

                <!-- Add more rows here -->
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'papsas_app/js/election.js' %}"></script>
{% endblock %}