{% extends 'papsas_app/layout.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/datatable.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="title">
        <h3>
            Attendance Records
        </h3>
    </div>
    <div>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    
    <form method="get" class="mb-4" id="filter-form">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="Id">Id:</label>
                {{ filter.form.id }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="attended">Status:</label>
                {{ filter.form.attended }}
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-end">
                <button type="submit" class="search-submit">Search</button>
                <a href="{% url 'user_event_attendance_table' %}" class="search-submit">Reset</a>
            </div>
        </div>
    </form>
</div>


<div id="table-container">
    Total Records: {{ table.rows|length }}
    {% render_table table %}
</div>

{% endblock %}