{% extends 'papsas_app/layout.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/datatable.css' %}">
<link rel="stylesheet" href="{% static 'papsas_app/update.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="title">
        <h3>
            Venue Records
        </h3>
    </div>
    <form method="get" class="mb-4" id="filter-form">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="Id" class="text-input">Id:</label>
                {{ filter.form.id }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="membership" class="text-input">Name:</label>
                {{ filter.form.name }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="membershipVerification" class="text-input">Address:</label>
                {{ filter.form.address }}
            </div>
            <div class="col-md-3 mb-3 d-flex align-items-end">
                <button type="submit" class="search-submit">Search</button>
                <a href="{% url 'news_offers_table' %}" class="search-submit">Reset</a>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div id="table-container">
        <div class="col-md-3 mb-3 d-flex align-items-end">Total Records: {{ table.rows|length }}</div>
        {% render_table table %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
    </div>
</div>

<div id="update-container">
    <div class="update-content">
        <span class="upd-close-modal" onclick="closePopup()"><i class="fas fa-times"></i></span>
        <h3>
            Update Venue
        </h3>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn">Update</button>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'papsas_app/js/venue.js' %}"></script>
{% endblock %}