{% extends 'papsas_app/layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/datatable.css' %}">
<link rel="stylesheet" href="{% static 'papsas_app/update.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}
{% block body %}
<div class="data-table-container">
    <div class="table-header">
        <h1>
            Venue Record
        </h1>
    </div>
    <div class="filter-container">
        <input type="text" id="searchInput" placeholder="Search for venue..." />
    </div>
    <div class="data-table">
        <div>
            {% if messages %}
                {% for message in messages %}
                <p> {{ message }} </p>
                {% endfor %}
            {% endif %}
        </div>
        <table>
            <thead>
                <tr>
                    <th> Venue Name </th>
                    <th> Venue Address </th>
                    <th> Capacity </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody 
            hx-get="{% url 'get_venue' %}"
            hx-trigger="every 5s"
            >
                {% for venue in venues %}
                <tr>
                    <td>{{ venue.name }}</td>
                    <td> {{ venue.address }} </td>
                    <td> {{ venue.capacity }} </td>
                    <td>             <button class="action-icon" title="Update" onclick="showUpdate('{{ venue.id }}')"><i class="fas fa-edit"></i></button>
                        <form action="{% url 'delete_venue' venue.id %}" method="post">
                            {% csrf_token %}
                            <button class="action-icon" title="Delete" type="submit"><i class="fas fa-trash-alt"></i></button></td>
                        </form> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="update-container">
    <h3>
        Update Venue
    </h3>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'papsas_app/js/venue.js' %}"></script>
{% endblock %}