/* Datatable styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
    
}

.data-table {
    
}
.no-existing{
    text-align: center;
}
.data-table-container {
    max-width: 1600px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    padding-left: 1.5rem; /* Add some padding for spacing */
    padding-right: 1.5rem; /* Add some padding for spacing */
}

th, td {
    padding: 2px 5px;
    border: 1px solid #ddd;
    font-weight: 300;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td a {
    color: #ff0000;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Popup container style */
#popup_container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

#popup_container.active {
    display: block;
}

/* Button styles */

.action-icon {
    background-color: transparent; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer for better UX */
    color: red; /* Keep the icon color */
    font-size: 16px; /* Adjust icon size */
    padding: 5px; /* Optional: Adjust padding */
}

.action-icon i {
    margin-right: 5px;
}

/* Optional: Add hover effect */
.action-icon:hover {
    color: black; /* Change icon color on hover */
}

.action-icon i {
    margin-right: 5px;
}
#receipt-container, #id-container {
    display: none;
}