.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 490px;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 7px 12px 1px rgba(0,0,0, 0.05);
    
  }
  .login-header{
    text-align: center;
    margin-top: -120px;
    margin-bottom: -30px;
  }
  .register-border{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 700px;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 7px 12px 1px rgba(0,0,0, 0.05);
    
  }
  .birth_tag{
    font-weight: 300;
    margin-left: 12px;
  }
  .input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
  }


  ::placeholder{
    font-weight: 300;
    color: #222;
  }
  .input-field:focus{
    width: 105%;
  }
  .login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: #ffffff;
  }
  .input-submit{
    position: relative;
  }
  .submit-btn{
    width: 100%;
    height: 60px;
    background: #ff0000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    color: #ffff;
    font-weight: 300;
    font-size: 17px;
    margin-top: 20px;
  }
  .input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
  }
  .sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 300;
    margin-left: 14px;
  }
  .sign-up-link a{
    color: #ff0000;
    font-weight: 300;
  }
  .login-icon{
    height: 10rem;
    margin-top: 60px;
  }
  .invalid-text{
    text-align: center;
    color: #ff0000;
  }
  
.two-forms {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .login-header{
      text-align: center;
      margin-bottom: -30px;
    }
    .register-border{
      box-shadow: none;
      margin-top: 100px;
    }
}

.forgot-password {

  text-align: right;
  display: block;
  font-size: 14px;
  margin-right: 14px;
}
.forgot-password a{
  color: #ff0000;
  font-weight: 300;
}
.input-box {
  width: 100%;
}

.two-forms .input-box {
  flex: 1;
}

input, select {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
  outline: none;
  transition: .3s;
}

input::placeholder {
  font-weight: 300;
  color: #222;
}

input:focus {
  width: 100%; /* Prevent width change on focus */
}

@media (max-width: 768px) {
  .two-forms {
    flex-direction: column;
  }
}
