

/* Main container */
.profile-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 200px;
    gap: 20px;
}

/* Profile Header */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

.upload-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

/* Profile Details */
.profile-details h4 {
    margin: 10px 0;
    color: #000000;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.verified, .unverified {
    font-size: 18px;
    margin-left: 10px; /* Space between name and icon */
}
.verified {
    color: green;
}
.occupation{
    font-weight: 300;
    text-transform: uppercase;
    
}
.unverified {
    color: red;
}
.region{
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    margin-top: -10px;
}


/* Feedback section */

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    margin: 10% auto;
    display: block;
    width: 60%;
    max-width: 500px;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.other-details{
    margin-left: 99vh;
    margin-top: -20vh;
}
.other-details p{
    font-weight: 300;
}
.other-details h3{
    font-size: 16px;
}

.recent-activities-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-height: 500px; /* Set a maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recent-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100px; /* You can adjust the height as needed */
    gap: 20px;
}

.recent-container:nth-child(odd) {
    background-color: #ececec; /* Alternate background for better visibility */
}

.title {
    margin-left: 150px;
    margin-top: 50px;
}
.title{
    margin-left: 150px;
    margin-top: 50px;
}