{% extends 'papsas_app/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/achievement_record.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="data-table-container">
    <div class="table-header">
        <h1> Achievement Record </h1>
        <a href="#" class="btn-add-user">
            <i class="fas fa-user-plus"></i> Add Achievement
        </a>
    </div>
    <div class="data-table">
        <table>
            <tr>
                <td> Title </td>
                <td> Description </td>
                <td> Stamp </td>
                <td> Publication Material </td>
            </tr>
            {% for achievement in achievements %}
            <tr>
                <td> {{ achievement.name }} </td>
                <td> {{ achievement.description }} </td>
                <td> {{ achievement.postStamp }} </td>
                <td> <img src="{{ achievement.pubmat.url }}" alt="{{achievement.name}} image" class="ach_img"> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'papsas_app/js/record.js' %}"></script>
{% endblock %}
