{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/record_attendance.css' %}">
{% endblock %}

{% block body %}
<div>
    <h1>Event</h1>
    {% for event in events %}
    <p>
        <a href="" class="event-links" data-event="{{ event.id }}"> {{ event.eventName }} </a>
    </p>
    {% endfor %}
</div>

<div id="attendance_record">
    <button id="close-button"> Close </button>
    <h2>Attendance Record</h2>
    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Attendee Name</th>
                    <th>Attendance Status</th>
                </tr>
            </thead>
            <tbody id="attendees-body">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'papsas_app/js/attendance_record.js' %}"></script>
{% endblock %}