{% extends 'papsas_app/layout.html' %}

{% block body %}

<section class="home">
    <div class="container">
    <div class="home__container container">
        <div class="home__data">
            <h1 class="home__title">PAPSAS is the home of SAS Practitioners 
                in the Philippines!</h1>
            <p class="home__description">
                Membership Benefits:
                <br> Registration fee discount on PAPSAS Events. 
                Opportunity to be elected as an officer (for Regular and Special Members). 
                Inclusion in the priority list for Professional Development and Certification Programs. 
                Access to exclusive learning sessions and materials. 
                Issuance of a Certificate of Membership (for all types of membership) and ID card* (for Special Membership). 
                Shipping Fee for ID Card shall be charged to the Member
            </p>
            <!-- Added Button -->
            <a href="#membership" class="home__button">Join Now</a>
        </div>
        <div class="member-img">
        <img src="media/papsas_app/images/member.jpg" class="member-img">  
        </div>
    </div>
</div>
</section>

{% endblock %}