{% extends 'papsas_app/layout.html' %}

{% block title %}
    Election
{% endblock %}

{% block body %}
    <div>
        <h1>Election</h1>
        <!-- div for all elections -->
        <div>        
            <h3>Election List</h3>
            <div>
                {% for election in electionList %}
                    <p> {{ election }} </p>
                {% endfor %}
                </div>
                <hr>
            </div>

        <!-- if there is no ongoing election, provide an option to start one -->
        {% if not ongoingElection %}
        <div>
            <h3>
                Election
            </h3>
            <form action="{% url 'election' %}" method="post">
                {% csrf_token %}
                <button type="submit">Start Election</button>
            </form>
        </div>
        {% else %}
        <div>
            <h3>Ongoing Election</h3>
            <div>  
                {% for election in electionList %}
                    {% if election.electionStatus == True %}
                        <p> {{ election }} </p>
                        <form action="{% url 'manage_election' election.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Stop Election</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}