{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/css/event_management.css' %}">
{% endblock %}

<link rel="stylesheet" href="{% static 'papsas_app/css/style.css' %}">

{% block body %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-container">
        <h3>Event Management</h3>
        <form method="post" id="eventForm" enctype="multipart/form-data"
            hx-post="{% url 'event' %}"
            hx-confirm="Are you sure you want to post this event?"
        >
            {% csrf_token %}
            <div class="form-group">
                <p>Event Name: </p> 
                {{ form.eventName }}
            </div>
            <div class="form-group">
                <p>Start Date: </p> 
                 {{ form.startDate }}
            </div>
            <div class="form-group">
                <p>End Date: </p>  {{ form.endDate }}
            </div>
            <div class="form-group">
                <p>Venue: </p>  {{ form.venue }}
            </div>
            <div class="form-group">
                <p>Event Description: </p>  {{ form.eventDescription }}
            </div>
            <div class="form-group">
                <p>Public Material: </p>  {{ form.pubmat }}
            </div>
            <div class="form-group">
                <p>Price: </p>  {{ form.price }}
            </div>
            <div class="form-group">
                <p>Start Time: </p>  {{ form.startTime }}
            </div>
            <div class="form-group">
                <p>End Time: </p>  {{ form.endTime }}
            </div>
            <div class="form-group">
                <p>Exclusive: </p>  {{ form.exclusive }}
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
