{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/event_management.css' %}">
{% endblock %}

<link rel="stylesheet" href="{% static 'papsas_app/style.css' %}">

{% block body %}
<div class="container">
    <div class="form-container">
        <h3>Event Management</h3>
        <form action="{% url 'event' %}" method="post" id="eventForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.eventName.label }} {{ form.eventName }}
            </div>
            <div class="form-group">
                {{ form.startDate.label }} {{ form.startDate }}
            </div>
            <div class="form-group">
                {{ form.endDate.label }} {{ form.endDate }}
            </div>
            <div class="form-group">
                {{ form.venue.label }} {{ form.venue }}
            </div>
            <div class="form-group">
                {{ form.address.label }} {{ form.address }}
            </div>
            <div class="form-group">
                {{ form.eventDescription.label }} {{ form.eventDescription }}
            </div>
            <div class="form-group">
                {{ form.pubmat.label }} {{ form.pubmat }}
            </div>
            <div class="form-group">
                {{ form.price.label }} {{ form.price }}
            </div>
            <div class="form-group">
                {{ form.startTime.label }} {{ form.startTime }}
            </div>
            <div class="form-group">
                {{ form.endTime.label }} {{ form.endTime }}
            </div>
            <div class="form-group">
                {{ form.exclusive.label }} {{ form.exclusive }}
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
