{% extends 'papsas_app/layout.html' %}

{% block body %}
<main class="main">
  
    <section class="home">
        <div class="home__container container">
            <div class="home__data">
                <h1 class="home__title">Welcome to the Philippines Association of Practitioners of Student Affairs and Services, Inc.</h1>
                <p class="home__description">
                    The Philippine Association of Practitioners of Student Affairs and Services, Inc. is the professional organization of student affairs and services administrator and practitioners in the Philippines, dedicated to the pursuit of excellence in student affairs and services work. It is an effective channel through which student affairs practitioners can develop and enhance their capabilities. <br><br>PAPSAS, Inc. is committed to the formation of the Filipino educators through the conduct of effective and relevant programs and services addressing student issues and student affairs development. PAPSAS, Inc. is dedicated in building the competencies of its members through programs and services it offers.
                </p>
            </div>
                <img src="media/papsas_app/images/photogrid.png" class="feature-img">
                
        </div>

    </section>
    <section class="services">
        <h1 class="services__title">Upcoming Event</h1>
        <div class="services__container container">
            <div class="service__box">
                <img src="media/papsas_app/images/IYF.jpg" alt="Service 1" class="service__img">
                <h3 class="service__title">Interactive Youth Forum</h3>
                <p class="service__description">System and Anticipatory Thinking for Sustainable Student Activities and Stewardship</p>
                <button class="service__button">Register Here</button>
            </div>
            <div class="service__box">
                <img src="media/papsas_app/images/rls.jpg" alt="Service 2" class="service__img">
                <h3 class="service__title">Regional Leader Summit</h3>
                <p class="service__description">This is a description for Event 2. It highlights the main features and benefits of the service.</p>
                <button class="service__button">Register Here</button>
            </div>
            <div class="service__box">
                <img src="media/papsas_app/images/rc.png" alt="Service 3" class="service__img">
                <h3 class="service__title">Research Conference</h3>
                <p class="service__description">You may have the oppurtunity to be published in the  Asia Pacific Journal for Student Affairs</p>
                <button class="service__button">Register Here</button>

            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__content">
                <h3 class="footer__title">Philippines Association of Practitioners of Student Affairs and Services, Inc.</h3>
                <p class="footer__description">
                    Dedicated to the pursuit of excellence in student affairs and services work.
                </p>
                <ul class="footer__links">
                    <li><a href="#" class="footer__link">(043) 778 0656</a></li>
                    <li><a href="#" class="footer__link">/papsasinc</a></li>
                    <li><a href="#" class="footer__link">papsasinc.national@gmail.com</a></li>
                    <li><a href="#" class="footer__link">bit.ly/papsasinc</a></li>
                </ul>
            </div>
            <div class="footer__socials">
                <a href="#" class="footer__social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="footer__social"><i class="fab fa-twitter"></i></a>
                <a href="#" class="footer__social"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer__bottom">
            <p>&copy; 2024 PAPSAS, Inc. All Rights Reserved.</p>
        </div>
    </footer>
</main>
{% endblock %}