{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'papsas_app/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    {% block head %}
    {% endblock %}
    <title>{% block title %} PAPSAS {% endblock %}</title>
</head>
<body>
    <div class="hero">
        <nav>
            <header class="header">
                <div class="nav container">
                    <a href="{% url 'index' %}"><img src="/media/papsas_app/images/papsas.png" class="logo"></a> 
        <!-- start -->
                {% if user.is_authenticated %}
                    <!-- if user is an officer -->
                    <div>
                        {% if officer is not None %}
                            {% if officer.termEnd > today %}
                                <a href="">Dashboard</a>
                                <a href="{% url 'record' %}">Records</a>
                                <a href="{% url 'election' %}">Election</a>
                                <a href="{% url 'event' %}">Compose</a>
                                <!-- Drop down 
                                Event
                                Achievement
                                News and Offers
                                -->
                                <a href="{% url 'logout' %}">Logout</a>
                            {% endif%}
                            </div>
                        {% else %}
                        <div class="nav__menu" id="nav-menu">
                            <ul class="nav__list">
                                <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">Home</a></li>
                                <li class="nav__item dropdown">
                                    <a href="{% url 'about' %}" class="nav__link">About Us<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                    <ul class="dropdown-content">
                                        <li><a href="#section-1">Officers</a></li>
                                        <li><a href="#section-2">Resources</a></li>
                                        <li><a href="#section-3">Partners</a></li>
                                    </ul>
                                </li>
                            {% for election in openElection %}
                            {% if election is not None%}
                            <li class="nav__item"><a href="{% url 'vote' %}" class="nav__link">Election</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="nav__item"><a href="{% url 'become_member' %}" class="nav__link">Become a Member</a></li>
                            <li class="nav__item"><a href="" class="nav__link">Highlights</a></li>
                            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Logout</a></li>
                        {% endif %}
                    
                        {% if user.profilePic %}
                            <li class="nav__item"><a href="{% url 'profile' user.id %}">
                                    <img src="{{ user.profilePic.url }}" alt="profilePic" id="navProfile">
                                </a></li>
                            {% else %}
                            <div class="login-container"> <a href="{% url 'profile' user.id %}">Profile</a></div>
                            {% endif %}
                        </ul>
                        <div class="nav__close" id="nav-close">
                            <i class='bx bx-x'></i>
                        </div>


                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
                {% else %}
            
            <!-- end -->
            <!-- if user is not logged in -->
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="{% url 'index' %}" class="nav__link">Home</a>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="{% url 'about' %}" class="nav__link">About Us<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                <ul class="dropdown-content">
                                    <li><a href="#section-1">Officers</a></li>
                                    <li><a href="#section-2">Resources</a></li>
                                    <li><a href="#section-3">Partners</a></li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'become_member' %}" class="nav__link">Become a Member</a>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="{% url 'news_offers' %}" class="nav__link">Highlights<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                <ul class="dropdown-content">
                                    <li><a href="#">Achievements</a></li>
                                    <li><a href="#">News and Offers</a></li>
                                </ul>
                            </li>
                            <div class="login-container">
                                <a href="{% url 'login' %}">Login</a>
                            </div>
                        </ul>

                        <div class="nav__close" id="nav-close">
                            <i class='bx bx-x'></i>
                        </div>
                    </div>

                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt'></i>
                    </div>
                </div>
            </header>
                {% endif %}
        </nav>
    {% block body %}
    {% endblock %}
</div>

<script src="static/papsas_app/js/scrollreveal.min.js"></script>
<script src="static/papsas_app/js/main.js"></script>
</body>
</html>