{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'papsas_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/css/alert.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'papsas_app/css/regional_content.css' %}">
    <link rel="icon" type="image/jpg" href="/media/papsas_app/images/papsas_logo.png">

    <!-- import htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="{% static 'papsas_app/js/alert.js' %}"></script>
    {% block script%}{% endblock %}
    {% block head %}{% endblock %}
    <title>{% block title %} PAPSAS {% endblock %}</title>
</head>
<body>
    <div class="hero">
        <nav>
            <header class="header">
                <div class="nav-bar">
                    <a href="{% url 'index' %}">
                        <img src="/media/papsas_app/images/papsas.png" class="papsas-logo" alt="papsas_logo">
                    </a>

                    {% if user.is_authenticated %}
                        <div class="nav__menu" id="nav-menu">
                            <ul class="nav__list">
                                {# Officer / Admin navbar #}
                                {% if officer is not None and officer.termEnd > today %}
                                    {% if is_admin_user or officer.position == "Secretary" %}
                                        {% include "papsas_app/partials/admin_nav.html" %}
                                    {% else %}
                                        <li class="nav__item dropdown">
                                            <a href="{% url 'venue_record' %}" class="nav__link">
                                                Records<i class="fa-solid fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-content">
                                                <li><a href="{% url 'venue_table' %}">Venue</a></li>
                                                <li><a href="{% url 'achievement_table' %}">SAS Research</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav__item dropdown">
                                            <a href="{% url 'event_list' %}" class="nav__link">Event</a>
                                        </li>
                                        <li class="nav__item dropdown">
                                            <a href="#" class="nav__link">Compose<i class="fa-solid fa-caret-down"></i></a>
                                            <ul class="dropdown-content">
                                                <li><a href="{% url 'compose_venue' %}">Venue</a></li>
                                                <li><a href="{% url 'compose_achievement' %}">SAS Research</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav__item"><a href="{% url 'election_portal' %}" class="nav__link">Election</a></li>
                                        <li class="nav__item">
                                            <a href="{% url 'nat_con' %}" class="nav__link">17th Interactive Youth Form</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="{% url 'logout' %}" class="nav__link">Logout</a>
                                        </li>
                                        {% if user.profilePic %}
                                            <li class="nav__item profileLink">
                                                <span>{{ user.first_name }} </span>
                                                <a href="{% url 'profile' user.id %}">
                                                    <img src="{{ user.profilePic.url }}" alt="profilePic" id="navProfile" class="profile">
                                                </a>
                                            </li>
                                        {% else %}
                                            <div class="login-container">
                                                <a href="{% url 'profile' user.id %}">Profile</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                {% elif is_admin_user %}
                                    {# Admin with no Officer record still gets admin nav #}
                                    {% include "papsas_app/partials/admin_nav.html" %}

                                {% else %}
                                    {# Regular member navbar #}
                                    <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">Home</a></li>
                                    <li class="nav__item dropdown">
                                        <a href="{% url 'about' %}" class="nav__link">
                                            About Us<i class="fa-solid fa-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-content">
                                            <li><a href="{% url 'about' %}#section-1">Officers</a></li>
                                            <li><a href="{% url 'about' %}#section-2">Resources</a></li>
                                            <li><a href="{% url 'about_dev' %}">Project Team</a></li>
                                            <li><a href="{% url 'contact' %}" class="nav__link">Contact</a></li>
                                        </ul>
                                    </li>

                                    {% if is_member and is_member.status == "Approved" %}
                                        <li class="nav__item dropdown">
                                            <a href="{% url 'user_membership_table' %}" class="nav__link">
                                                Records<i class="fa-solid fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-content">
                                                <li><a href="{% url 'user_membership_table' %}">Membership</a></li>
                                                <li><a href="{% url 'user_event_registration_table' %}">Event Registration</a></li>
                                                <li><a href="{% url 'user_event_attendance_table' %}">Event Attendance</a></li>
                                            </ul>
                                        </li>
                                        {% for election in openElection %}
                                            {% if election %}
                                                <li class="nav__item">
                                                    <a href="{% url 'vote' %}" class="nav__link">Election</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if user.occupation == "Practitioner" %}
                                            <li class="nav__item">
                                                <a href="{% url 'become_member' %}" class="nav__link">Become a Member</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                    <li class="nav__item dropdown">
                                        <a href="{% url 'event_list' %}" class="nav__link">Event</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="{% url 'achievement' %}" class="nav__link">SAS Research</a>
                                    </li>
                                    <li class="nav__item"><a href="{% url 'election_portal' %}" class="nav__link">Election</a></li>
                                    <li class="nav__item dropdown">
                                        <a class="nav__link" id="regionsDropdownLabel">
                                            Regional Chapters <i class="fa-solid fa-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-content">
                                            <!-- Luzon -->
                                            <li><a href="{% url 'regional_chapter' 'car' %}">CAR</a></li>
                                            <li><a href="{% url 'regional_chapter' 'ncr' %}">NCR</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-i' %}">Region I</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-ii' %}">Region II</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-iii' %}">Region III</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-iv' %}">Region IV</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-v' %}">Region V</a></li>
                                            <!-- Visayas -->
                                            <li><a href="{% url 'regional_chapter' 'region-vi' %}">Region VI</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-vii' %}">Region VII</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-viii' %}">Region VIII</a></li>
                                            <!-- Mindanao -->
                                            <li><a href="{% url 'regional_chapter' 'region-ix' %}">Region IX</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-x' %}">Region X</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-xi' %}">Region XI</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-xii' %}">Region XII</a></li>
                                            <li><a href="{% url 'regional_chapter' 'region-xiii' %}">Region XIII</a></li>
                                            <li><a href="{% url 'regional_chapter' 'barmm' %}">BARMM</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav__item">
                                        <a href="{% url 'nat_con' %}" class="nav__link">
                                            17th Interactive Youth Form
                                        </a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="{% url 'logout' %}" class="nav__link">Logout</a>
                                    </li>
                                    {% if user.profilePic %}
                                        <li class="nav__item profileLink">
                                            <span>{{ user.first_name }} </span>
                                            <a href="{% url 'profile' user.id %}">
                                                <img src="{{ user.profilePic.url }}" alt="profilePic" id="navProfile" class="profile">
                                            </a>
                                        </li>
                                    {% else %}
                                        <div class="login-container">
                                            <a href="{% url 'profile' user.id %}">Profile</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </ul>

                            <div class="nav__close" id="nav-close">
                                <i class="fas fa-times close-btn"></i>
                            </div>
                        </div>

                        <div class="nav__toggle" id="nav-toggle">
                            <i class="fas fa-bars"></i>
                        </div>
                    {% else %}
                        {# Not logged in navbar #}
                        <div class="nav__menu" id="nav-menu">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="{% url 'index' %}" class="nav__link">Home</a>
                                </li>
                                <li class="nav__item dropdown">
                                    <a href="{% url 'about' %}" class="nav__link">
                                        About Us<i class="fa-solid fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-content">
                                        <li><a href="{% url 'about' %}#section-1">Officers</a></li>
                                        <li><a href="{% url 'about' %}#section-2">Resources</a></li>
                                        <li><a href="{% url 'about_dev' %}">Project Team</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="{% url 'become_member' %}" class="nav__link">Become a Member</a>
                                </li>
                                <li class="nav__item">
                                    <a href="{% url 'achievement' %}" class="nav__link">SAS Research</a>
                                </li>
                                <li class="nav__item dropdown">
                                    <a class="nav__link" id="regionsDropdownLabel">
                                        Regional Chapters <i class="fa-solid fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-content">
                                        <!-- same region list as above -->
                                        <li><a href="{% url 'regional_chapter' 'car' %}">CAR</a></li>
                                        <li><a href="{% url 'regional_chapter' 'ncr' %}">NCR</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-i' %}">Region I</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-ii' %}">Region II</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-iii' %}">Region III</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-iv' %}">Region IV</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-v' %}">Region V</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-vi' %}">Region VI</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-vii' %}">Region VII</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-viii' %}">Region VIII</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-ix' %}">Region IX</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-x' %}">Region X</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-xi' %}">Region XI</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-xii' %}">Region XII</a></li>
                                        <li><a href="{% url 'regional_chapter' 'region-xiii' %}">Region XIII</a></li>
                                        <li><a href="{% url 'regional_chapter' 'barmm' %}">BARMM</a></li>
                                    </ul>
                                </li>
                                    <li class="nav__item">
                                        <a href="{% url 'nat_con' %}" class="nav__link">
                                            17th Interactive Youth Form
                                        </a>
                                    </li>
                                <div class="login-container">
                                    <a href="{% url 'login' %}" class="login-submit">Login</a>
                                </div>
                            </ul>

                            <div class="nav__close" id="nav-close">
                                <i class="fas fa-times close-btn"></i>
                            </div>
                        </div>

                        <div class="nav__toggle" id="nav-toggle">
                            <i class="fas fa-bars"></i>
                        </div>
                    {% endif %}
                </div>
            </header>
        </nav>

        <div id="body-container">
            {% block body %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'papsas_app/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'papsas_app/js/main.js' %}"></script>
    <!-- (keep your active-link + regional label JS here, unchanged) -->
</body>
</html>
