{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'papsas_app/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    {% block script%}
    {% endblock %}
    {% block head %}
    {% endblock %}
    <title>{% block title %} PAPSAS {% endblock %}</title>
</head>
<body>
    <div class="hero">
        <nav>
            <header class="header">
                <div class="nav container">
                    <a href="{% url 'index' %}"><img src="/media/papsas_app/images/papsas.png" class="logo" alt='papsas_logo'></a> 
                    {% if user.is_authenticated %}
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                        {% if officer is not None %}
                        <!-- if user is an officer -->
                            {% if officer.termEnd > today %}
                            <li class="nav__item"><a href=""class="nav__link">Dashboard</a></li>
                            <li class="nav__item dropdown">
                                    <a href="{% url 'record' %}" class="nav__link">Records<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                    <ul class="dropdown-content">
                                        <li><a href="{% url 'membership_record' %}">Members</a></li>
                                        <li><a href="{% url 'attendance_list' %}">Event Attendance</a></li>
                                        <li><a href="{% url 'venue_record' %}">Venue</a></li>
                                        <li><a href="{% url 'achievement_record' %}">Achievement</a></li>
                                        <li><a href="{% url 'news_offers_record' %}">News and Offers</a></li>
                                    </ul>
                            </li>
                            </li>
                              <li class="nav__item"> <a href="{% url 'election' %}"class="nav__link">Election</a></li>
                            <li class="nav__item dropdown"><a href=""class="nav__link">Event<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                <ul class="dropdown-content"> 
                                    <li><a href="{% url 'event_list' %}">Event List</a></li>
                                    <li><a href="{% url 'event_calendar' %}">Calendar</a></li>
                                </ul>
                            </li>

                            <li class="nav__item dropdown"><a href=""class="nav__link">Compose<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                <ul class="dropdown-content">
                                    <li><a href="{% url 'event' %}">Event</a></li>
                                    <li><a href="{% url 'compose_venue'%}">Venue</a></li>
                                    <li><a href="{% url 'compose_achievement' %}">Achievement</a></li>
                                    <li><a href="">News and Offers</a></li>
                                </ul>
                            </li>
                            <li class="nav__item"><a href="{% url 'logout' %}"class="nav__link">Logout</a></li>
                            {% endif%}
                            {% if user.profilePic %}
                            <li class="nav__item"><a href="{% url 'profile' user.id %}">
                                    <img src="{{ user.profilePic.url }}" alt="profilePic" id="navProfile">
                                </a>
                            </li>
                            {% else %}
                            <div class="login-container"> <a href="{% url 'profile' user.id %}">Profile</a></div>
                            {% endif %}
                        </ul>
                        <div class="nav__close" id="nav-close">
                            <i class='bx bx-x'></i>
                        </div>
                        
                    </div>
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt'></i>
                    </div>
                        {% else %}
                        <!-- if user is not an officer -->
                        <div class="nav__menu" id="nav-menu">
                            <ul class="nav__list">
                                <li class="nav__item"><a href="{% url 'index' %}" class="nav__link">Home</a></li>
                                <li class="nav__item dropdown">
                                    <a href="{% url 'about' %}" class="nav__link">About Us<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                    <ul class="dropdown-content">
                                        <li><a href="{% url 'about' %}#section-1">Officers</a></li>
                                        <li><a href="{% url 'about' %}#section-2">Resources</a></li>
                                        <li><a href="{% url 'about' %}#section-3">Partners</a></li>
                                    </ul>
                                </li>
                                {% if is_member.membershipVerification == True %}
                                    {% for election in openElection %}
                                        {% if election is not None%}
                                            <li class="nav__item"><a href="{% url 'vote' %}" class="nav__link">Election</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li class="nav__item"><a href="{% url 'become_member' %}" class="nav__link">Become a Member</a></li>
                                {% endif %}
                                    <li class="nav__item dropdown"><a href=""class="nav__link">Event<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                        <ul class="dropdown-content"> 
                                            <li><a href="{% url 'event_list' %}">Event List</a></li>
                                            <li><a href="{% url 'event_calendar' %}">Calendar</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav__item"><a href="{% url 'achievement' %}" class="nav__link">Achievements</a></li>
                                    <li class="nav__item"><a href="" class="nav__link">News and Offers</a></li>
                                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Logout</a></li>
                                {% if user.profilePic %}
                                <li class="nav__item"><a href="{% url 'profile' user.id %}">
                                        <img src="{{ user.profilePic.url }}" alt="profilePic" id="navProfile">
                                    </a>
                                </li>
                                {% else %}
                                <div class="login-container"> <a href="{% url 'profile' user.id %}">Profile</a></div>
                                {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                    {% else %}
                    <!-- if user is not logged in -->
                        <div class="nav__menu" id="nav-menu">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="{% url 'index' %}" class="nav__link">Home</a>
                                </li>
                                <li class="nav__item dropdown">
                                    <a href="{% url 'about' %}" class="nav__link">About Us<i class='bx bx-chevron-down dropdown__icon'></i></a>
                                    <ul class="dropdown-content">
                                        <li><a href="{% url 'about' %}#section-1">Officers</a></li>
                                        <li><a href="{% url 'about' %}#section-2">Resources</a></li>
                                        <li><a href="{% url 'about' %}#section-3">Partners</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="{% url 'become_member' %}" class="nav__link">Become a Member</a>
                                </li>
                                <li class="nav__item">
                                    <a href="{% url 'become_member' %}" class="nav__link">Achievements</a>
                                </li>
                                <li class="nav__item">
                                    <a href="{% url 'news_offers' %}" class="nav__link">News and Offers</a>
                                </li>
                                <div class="login-container">
                                    <a href="{% url 'login' %}">Login</a>
                                </div>
                            </ul>

                            <div class="nav__close" id="nav-close">
                                <i class='bx bx-x'></i>
                            </div>
                        </div>

                        <!-- Toggle button -->
                        <div class="nav__toggle" id="nav-toggle">
                            <i class='bx bx-grid-alt'></i>
                        </div>
                    {% endif %}
                </div>
            </header>
        </nav>
    {% block body %}
    {% endblock %}
    </div>

<script src="static/papsas_app/js/scrollreveal.min.js"></script>
<script src="static/papsas_app/js/main.js"></script>
<script>
    function toggleDescription(counter) {
        const description = document.getElementById(`event-description-${counter}`);
        const viewMoreBtn = document.querySelector(`#event-description-${counter} + .view-more-btn`);
        
        if (viewMoreBtn.innerText === "View More") {
            description.classList.add('show-full');
            viewMoreBtn.innerText = "View Less";
        } else {
            description.classList.remove('show-full');
            viewMoreBtn.innerText = "View More";
        }
    }
    </script>
</body>
</html>