{% extends "papsas_app/layout.html" %}

{% block title %}
    Login
{% endblock %}
{% block body %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Login</button>
    </form>
    <div>
        <p>Not a member yet? <a href="{% url 'register' %}">Register Here.</a></p>
    </div>
{% endblock %}