{% extends "papsas_app/layout.html" %}

{% block title %}
    Login
{% endblock %}
{% block body %}
    <form action="{% url 'login' %}" method="post" class="login-body">
        {% csrf_token %}
        <div class="login-box">      
            <div class="login-header">
                <img src="/media/papsas_app/images/papsas.png" class="login-icon">
            </div>
            {% if message %}
                <div class="invalid-text">
                    {{ message }}
                </div>
            {% endif %}
            <div class="input-box">
                {{ form.email }}
            </div>
            <div class="input-box">
                {{ form.password }}
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn">Login</button>
            </div>
            <div class="sign-up-link">
                Not a member yet? <a href="{% url 'register' %}"> Register here.</a>
            </div>
        </div>
    </form>
    {% endblock %}