{% extends 'papsas_app/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/record.css' %}">
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Member</th>
            <th>Membership</th>
            <th>Registration Date</th>
            <th>Expiration Date</th>
            <th>Receipt</th>
            <th>Verification ID</th>
            <th>Verification Status</th>
            <th>Action</th>
        </tr>
        {% for row in record %}
            {% if row %}
            <tr>
                <td><a href="">{{ row.user.id }}</a></td>
                <td>{{ row.membership }}</td>
                <td>{{ row.registrationDate }}</td>
                <td>{{ row.expirationDate }}</td>
                <td> <a href="" class="receipt-link" data-id="{{ row.user.id }}">View Receipt</a> </td>
                <td><a href="" class="id-link" data-id="{{ row.user.id }}">View ID</a></td>
                <td>{{ row.membershipVerification }}</td>
                <td>
                    {% if not row.membershipVerification  %}
                    <form action="{% url 'approve_membership' row.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Approve</button>
                    </form>  
                    <form action="{% url 'delete_membership' row.user.id %}" method="post"></form>
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    {% else %}
                    <form action="{% url 'decline_membership' row.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Decline</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
        {% if not record %}
            <p>No existing record.</p>
        {% endif %}

    <div id="receipt-container" class="modal">
        <h2> Receipt </h2>
        <img id="receipt-img" src="" alt="">
        <button class="close-modal"> Close </button>
    </div>

    <div id="id-container" class="modal">
        <h2> Identification </h2>
        <img id="id-img" src="" alt="">
        <button class="close-modal"> Close </button>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'papsas_app/js/record.js' %}"></script>
{% endblock %}