{% extends 'papsas_app/layout.html' %}

{% block body %}
    <table>
        <tr>
            <th>Member</th>
            <th>Membership</th>
            <th>Registration Date</th>
            <th>Expiration Date</th>
            <th>Receipt</th>
            <th>Verification ID</th>
            <th>Verification Status</th>
            <th>Action</th>
        </tr>
        {% for row in record %}
            {% if row %}
            <tr>
                <td><a href="">{{ row.user.id }}</a></td>
                <td>{{ row.membership }}</td>
                <td>{{ row.registrationDate }}</td>
                <td>{{ row.expirationDate }}</td>
                <td> <a href="">View Receipt</a> </td>
                <td><a href="">View ID</a></td>
                <td>{{ row.membershipVerification }}</td>
                <td>
                    <form action="{% url 'approve_membership' row.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Approve</button>
                    </form>
                    <form action="{% url 'decline_membership' row.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Decline</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
        {% if not record %}
            <p>No existing record.</p>
        {% endif %}

{% endblock %}