{% extends "papsas_app/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/password_reset_verify.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/style.css' %}">
{% endblock %}
{% block body %}
<form method="post" class="login-body">
    {% csrf_token %}
    <div class="container">
    <div class="register-border">
        <div class="login_box">
            <div class="login-header">
                <img src="/media/papsas_app/images/papsas.png" class="login-icon" alt="Logo">
            </div>
            <div class="verification-label">
                <h2>VERIFICATION CODE: </h2>
            </div>
            <div class="verification-code-input">
                <input type="text" id="code-1" name="code-1" maxlength="1" class="code-box" required>
                <input type="text" id="code-2" name="code-2" maxlength="1" class="code-box" required>
                <input type="text" id="code-3" name="code-3" maxlength="1" class="code-box" required>
                <input type="text" id="code-4" name="code-4" maxlength="1" class="code-box" required>
                <input type="text" id="code-5" name="code-5" maxlength="1" class="code-box" required>
                <input type="text" id="code-6" name="code-6" maxlength="1" class="code-box" required>
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn">Verify</button>
            </div>
        </div>
    </div>
</div>
</form>

<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_verify.css' %}">
<script src="{% static 'js/verification.js' %}"></script>
{% endblock %}