{% extends "papsas_app/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/style.css' %}">
    <script>
        function disableButton(button) {
            setTimeout(function() {
                button.disabled = true;
                button.innerText = "Sending..."; 
            }, 0);
        }
    </script>
{% endblock %}

{% block body %}
<form method="post" class="login-body" onsubmit="disableButton(this.querySelector('.submit-btn'));">
    {% csrf_token %}
    <div class="register-border">
        <div class="login_box">
            <div class="login-header">
                <img src="/media/papsas_app/images/papsas.png" class="login-icon">
            </div>
            <div class="input-box">
                <p>{{ form.email }} </p>
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn">Send Verification Code</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}