{% extends "papsas_app/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/css/password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function disableButton(button) {
            button.disabled = true;
            button.innerText = "Sending...";  // Text to indicate sending
        }
    </script>
{% endblock %}

{% block body %}
<form action="{% url 'password_reset' %}" method="post" class="login-body" onsubmit="disableButton(this.querySelector('.submit-btn'));">
    {% csrf_token %}
    <div class="register-border">
        <div class="login_box">
            <div class="login-header">
                <img src="/media/papsas_app/images/papsas.png" class="login-icon">
            </div>
            <div class="input-box">
                {{ form.email }} 
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn">Send Verification Code</button>
            </div>
            {% if form.errors %}
            <div class="error-messages">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="error">{{ field.label }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</form>

{% if email_not_found %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Email Not Found',
            text: 'The email you entered does not exist. Please try again.',
        }).then(() => {
            document.querySelector('.submit-btn').disabled = false;
            document.querySelector('.submit-btn').innerText = 'Send Verification Code';
        });
    </script>
{% endif %}
{% endblock %}
