{% extends 'papsas_app/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/css/login.css' %}">
{% endblock %}

{% block body %}
<form method="post" class="login-body">
    {% csrf_token %}
    <div class="login-box">
        <div class="login-header">
            <img src="/media/papsas_app/images/papsas.png" class="login-icon">
        </div>
        
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        
        <div class="input-box">
            <label for="password1">New Password:</label>
            <input type="password" id="password1" name="password1" required>
        </div>
        <div class="input-box">
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        <div class="input-submit">
            <button type="submit" class="submit-btn">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}