{% extends 'papsas_app/layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
{% endblock %}
{% block body %}

<div class="container">
    <div class="profile-card">
        <div class="profile-header">
            {% if viewUser.profilePic %}
                
                <img src="{{ viewUser.profilePic.url }}" alt="Profile Picture" class="profile-picture" onclick="openModal()">
            {% else %}
                
                <img src="{% url 'profile' user.id  %}" alt="Default Profile Picture" class="profile-picture" onclick="openModal()">
            {% endif %}

            
            {% if user.id == viewUser.id %}
            <div class="upload-btn-container">
                <form action="{% url 'profile' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="verification">
                        {% if user.email_verified %}
                            <span class="verified"><i class="fas fa-circle-check"></i></span>
                        {% else %}
                            <span class="unverified"><i class="fas fa-circle-xmark"></i></span>
                        {% endif %}
                    </div>
                    <label for="upload-pic" class="upload-btn">Upload New Picture</label>
                    
                    <p class="upload-note">At least 800×800 px recommended.<br>JPG or PNG is allowed</p>
                    <input type="file" name="profilePic" id="upload-pic" class="file-input" accept="image/*" onchange="this.form.submit()" style="display: none;">
                    <button type="submit" class="upload-btn" style="display: none;">Submit</button>
                    
                </form>
            </div>
            {% endif %}
        </div>
        
       
        
        <div class="personal-info">
            <div class="title-activities tor "> 
                <h1>Personal Information</h1>
                <button> Add Transcript of Record </button>
            </div>
            <div class="info-row">
                <div class="info-label">Full Name</div>
                <div class="info-value">{{ user.first_name }} {{ user.last_name }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Region</div>
                <div class="info-value">{{ user.region }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Address</div>
                <div class="info-value">{{ user.address }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Occupation</div>
                <div class="info-value">{{ user.occupation }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Mobile Number</div>
                <div class="info-value">{{ user.mobileNum }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Email</div>
                <div class="info-value">{{ user.email}}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Birthdate</div>
                <div class="info-value">{{ user.birthdate}}</div>
            </div>
        </div>


    
    <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>
    <div class="personal-info">
    <div class="title-activities"> 
        <h1>Recent Activities</h1>
    </div>

    <div class="recent-activities-container"
        hx-get="{% url 'get_profile' user.id %}"
        hx-trigger="every 5s"
        hx-swap="innerHTML"
    >
        {% if candidacies %}
        <div class="info-row-activity">
            <div class="info-label-activity">Candidacies: </div>
            {% for candidacy in candidacies %}
                <div class="info-value-activity">{{ candidacy }}</div>
            {% endfor %}
        {% endif %}
        </div>
        {% if elected_officers %}
        <div class="info-row-activity">
            <div class="info-label-activity">Election: </div>
            {% for officer in elected_officers %}
                <div class="info-value-activity">{{ officer }}</div>
            {% endfor %}
        {% endif %}
        </div>
        {% if attended_events %}
        <div class="info-row-activity">
            <div class="info-label-activity">Events: </div>
            {% for event in attended_events %}
            <div class="info-value-activity">{{ event }}</div>
            {% endfor %}
        {% endif %}
        </div>
        <!-- Add more recent activity blocks as needed -->
    </div>
</div>
</div>
{% endblock %}

{% block script %}
    <script>
        // Function to open the modal and show the image
        function openModal() {
            var modal = document.getElementById("imageModal");
            var modalImage = document.getElementById("modalImage");
            var profilePic = document.querySelector(".profile-pic");
            modal.style.display = "block";
            modalImage.src = profilePic.src;
        }

        // Function to close the modal
        function closeModal() {
            var modal = document.getElementById("imageModal");
            modal.style.display = "none";
        }
    </script>
{% endblock %}
