{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/datatable.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
{% endblock %}
{% block body %}
    <div class="data-table-container">
        <div class="data-table">
        <h1>User Records</h1>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Region</th>
                <th>Address</th>
                <th>Occupation</th>
                <th>Age</th>
                <th>Birth Date</th>
                <th>Email Verified</th>
                <th>Profile Picture</th>
                <th>Action</th>
            </tr>
            {% for user in   userRecord  %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobileNum}}</td>
                    <td>{{user.region}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.occupation}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.birthdate}}</td>
                    <td>{{user.email_verified}}</td>
                    <td><a href="{% url 'profile' user.id %}"><i class="fas fa-eye"></a></td>
                    <td> 
                        <a href="" class="action-icon" title="View"><i class="fas fa-eye"></i></a>
                        <a href="" class="action-icon" title="Edit"><i class="fas fa-edit"></i></a>
                        <a href="" class="action-icon" title="Delete"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    <div id='popup_container'>
        <!-- popup -->     
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'papsas_app/js/user_record.js' %}"></script>
{% endblock %}