{% extends 'papsas_app/layout.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'papsas_app/register.css' %}">
    <link rel="stylesheet" href="{% static 'papsas_app/style.css' %}">
    <style>
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 300;
        }
    </style>
{% endblock %}

{% block title %}
    Registration
{% endblock %}

{% block body %}
    <form action="{% url 'register' %}" method="post" class="login-body" onsubmit="disableSubmitButton(this)">
        {% csrf_token %}
        <div class="register-border">
            <div class="login_box">
                <div class="login-header">
                    <h1>Sign Up</h1>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        {{ form.first_name }}
                    </div>
                    <div class="input-box">
                        {{ form.last_name }}
                    </div>
                </div>

                <div class="input-box">
                    {{ form.email }}
                </div>

                <div class="input-box">
                    {{ form.password }}
                </div>

                <div class="two-forms">
                    <div class="input-box">
                        {{ form.mobileNum }}
                    </div>
                    <div class="input-box">
                        {{ form.region }}
                    </div>
                </div>

                <div class="two-forms">
                    <div class="input-box">
                        {{ form.address }}
                    </div>
                    <div class="input-box">
                        {{ form.age }}
                    </div>
                </div>

                <div class="birth_tag">
                    {{ form.birthdate.label_tag }}
                </div> 
                <div class="two-forms">
                    <div class="input-box">
                        {{ form.birthdate }}
                    </div>
                    <div class="input-box">
                        {{ form.occupation }}
                    </div>
                </div>

                <div class="input-box">
                    {{ form.institution }}
                </div>
                <div class="error-message">
                    {% if message %}
                        <div>{{ message }}</div>
                    {% endif %}
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.errors.as_text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="input-submit">
                    <button type="submit" class="submit-btn">Register</button>
                </div>

            </div>
        </div>
    </form>
    
    <script>
        function disableSubmitButton(form) {
            const button = form.querySelector('.submit-btn');
            button.disabled = true;
            button.innerHTML = 'Processing...';
        }
    </script>
    
{% endblock %}
