{% extends 'papsas_app/layout.html' %}

{% load static %}

{% block title %}
    Election
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'papsas_app/vote.css' %}">
{% endblock %}
{% block body %}
    {% if ongoingElection %}
        <h2> {{ ongoingElection.startDate.year }} Officer Election</h2>
        <p> {{ ongoingElection.startDate}} </p>
    {% endif %}

    <div>
        <h2>
            Candidates
        </h2>
    </div>

    <div>
        <h4>
            Cast your Vote
        </h4>
        {% if message %}
        <p> {{ message }} </p>
        {% endif %}
        <div>
            <!-- vote form -->
            <form action="{% url 'vote' %}" method="post" id="voteForm">
                {% csrf_token %}
                <div id="voteContainer">
                    {% for candidate in candidates %}
                    <div>
                        <input id="candidate-{{ candidate.id }}" type="checkbox" name="candidates" class="hidden-checkbox" value="{{ candidate.id }}" />
                        <label for="candidate-{{candidate.id}}" class="candidate-label"> 
                            <div class="candidateContainer">
                                <img src="{{ candidate.candidate.profilePic.url }}" alt="" srcset="">
                                <p>
                                    {{ candidate.candidate.first_name }} 
                                </p>
                                <p>Votes: {{ candidate.vote_count }}</p>
                                <button>
                                    <a href="{% url 'profile' candidate.candidate.id %}">View Profile</a>
                                </button>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit"> Cast Vote </button>
            </form>

        </div>
    </div>

    <div>
        <!-- candidacy form -->
        {% if attended_event.count >= 2 %}
        <h2>
            Declare Candidacy
        </h2>
        <form action="">
            <div>
                <label for="bio">Bio:</label>
                <input type="text" name="bio">
            </div>
            <div>
                <label for="platform">Platform:</label>
                <input type="text" name="platform">
            </div>
            <button type="submit">Submit Candidacy</button>
        </form>
        {% else %}
        <p> You are not eligible to run candidacy. <a href="">Click here</a>  to view eligibility to run candidacy.</p>
        {% endif %}
    </div>

    <input type="hidden" id="num-officers" value="{{ ongoingElection.numWinners }}">

{% endblock %}
{% block script %}
<script>
  const voteForm = document.getElementById('voteForm');
  const maxChecked = 2;  // Modify based on how many votes are allowed

  voteForm.addEventListener('change', function(e) {
    const checkboxes = voteForm.querySelectorAll('input[type="checkbox"]');
    const checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;

    if (checkedCount > maxChecked) {
      alert(`You can only select up to ${maxChecked} options.`);
    }
  });
</script>
</script>
{% endblock %}
